* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input{
    height: 2em;
}

.container {
    background-color: #f5f5f5;
    /* border: 2px solid lime; */
    margin-left:10px;
    margin-right:10px;
    padding-left:2x;
    padding-right:2x;

}

/*common css ends */
.header {
    text-align: center;
    padding: 10px;
}

.subheader {
    text-align: center;
    margin: 20px 0;
}

.subheader h3 {
    background-color: #008B22;
    color: #fff;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.account-type-title {
    width: 25%;
    padding: 15px 15px 15px 0;
    display: inline;
}

.account-types{
    width: 75%;
    display: inline;
    padding: 15px;
}
.two-account-types{
    width:30%;
    margin-right: 20px;
}
.account-id-title{
    width: 25%;
    padding: 15px 15px 15px 0;
}
.account-id-input{
   width: 75%;
   margin-top:10px;  
   padding-left: 10px;
}
.account-id-input input{
    width:2.5%;
    border: 0.5px solid #f0f2f5;
    padding-left:5px;
}
.mobile-section{
    padding-top:10px;
    padding-bottom:10px;
    
}
.acc-mobile-title{
    width:25%;
}
.acc-mobile-input{
    width:75%;
    margin-top:10px;
    padding-left: 10px;
}
.acc-mobile-input input{
    width:2.5%;
    border: 0.5px solid #f0f2f5;
    padding-left:5px;
}

.settlement-type-title{
    width:25%;
}
.settlement-types{
    margin-left: 10px;
    width:72%;
}
.settlement-type-input {
    display: inline-block;
}
.settlement-each-type {
    position: relative;
    bottom: 32px;;
    left:25px;
}
.settlement-type{
    margin-right: 60px;
}


.common-title{
    width:25%;
}

.common-input{
    width: 75%;
    position: relative;
    top:10px;
}

.common-input input{
    width: 100%;
    border:0.5px solid #f0f2f5;
    margin-left:10px;
}

.common-tittle-name{
    position: relative;
    bottom: 25px;
    left: 15px;
}

.orgs{
    padding-top:10px;

}
.org-type{
    width:25%;
}

.org-type-title{
    position: relative;
    bottom:24px;
    left:18px;   
}
.org-types{
    margin-left:10px;
}
.org-each-type{
    position: relative;
    bottom:24px;
    left:18px;
}
.type-org-type{
    margin-right:50px;
}


.address-title{
    position: relative;
    bottom:24px;
    left:18px;
}

.address-input{
}

.left {
    display: block;
    float: left;
}

.right {
    display: block;
    float: right;
}

.clr {
    clear: both;
}


/* test css class */

.customborder {
    border: 2px solid blue;
}

.border1 {
    border: 3px solid red;
}

.border2 {
    border: 3px solid green;
}

.border3 {
    border: 3px solid blue;
}
.border4{
    border: 3px solid black;
}
.border5{
    border: 3px solid yellow;
}

.border6{
    border: 3px solid purple;
}